.background{
    background: rgba(0, 0, 0, 0.7) url('../images/Contac_Us.jpg');
    background-size: cover;
    /* background-blend-mode: darken; */
}

.form {
    max-width: 62%;
    margin: 25px auto;
}