
.nxt-sp{
    background-color: #3d5a80;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
    .nxt-sp a{
    /*
    font-size: 21px;
    padding: 2px 2px 2px 2px;
    border: solid 2px blue;
    border-radius: 50px;*/
    color: darkgrey;
    text-decoration: none;

}
.nxt-sp-title {
    font-family: myFont;
    color: white;
    font-size: 40px;
}

.nxt-sp-para {
    
    color: white;
    font-size: 20px;
    width: 70%;
    margin: auto;
}

 /*Contact Us button */

 .ct-btn {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    /* text-transform: uppercase; */
    cursor: pointer;
    transform: skew(0deg);
  }
  
  .ct-btn {
    display: inline-block;
    transform: skew(0deg);
  }
  
  .ct-btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #000000;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .ct-btn:hover {
    color: #fff;
  }
  
  .ct-btn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }
          /* btn end */
