@media only screen and (max-width: 1320px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        height: 433px;

        flex-direction: column;
        transition: all 0.3s ease-out;
    }

    .logo {
        margin-right: 0%;
        width: 23%;
    }

    .logo img {
        width: 100%;
    }

    .background {
        /* background: url(../images/smallcreative1.jpg); */
        align-self: center;
        width: 100%;
        /* for IE as it does not support min-height */
        /* height: 60vh; */
        /* margin: 0 20% 0 0; */
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 72px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .section {
        flex-direction: column-reverse;
    }

    .text-small {
        text-align: center;
    }

    .text-big {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    .paras {
        padding: 0px;
    }
}


@media only screen and (max-width: 750px) {
    .all-cards {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-right: 0%;
        width: 45%;
    }

}